<div class="container d-flex">
  <div class="principal w-25 m-auto">
      <div class="d-flex justify-content-center">
          <p class="bg-white w-75 mt-3 text-end pe-2">0</p>
      </div>
      <div class="d-flex justify-content-center" id="div1">
          <button id="Retr">Retr</button>
          <button id="CE">CE</button>
          <button id="C">C</button>
      </div>
      <div class="d-flex justify-content-center">
          <button id="7">7</button>
          <button id="8">8</button>
          <button id="9">9</button>
          <button id="/">/</button>
          <button id="Raiz">Raiz</button>
      </div>
      <div class="d-flex justify-content-center">
          <button id="4">4</button>
          <button id="5">5</button>
          <button id="6">6</button>
          <button id="*">*</button>
          <button id="%">%</button>
      </div>
      <div class="d-flex justify-content-center">
          <button>1</button>
          <button>2</button>
          <button>3</button>
          <button>-</button>
          <button>1/x</button>
      </div>
      <div class="d-flex justify-content-center pb-3">
          <button>0</button>
          <button>+/-</button>
          <button>.</button>
          <button>+</button>
          <button>=</button>
      </div>
  </div>
</div>
